{% extends "base.html" %}
{% load staticfiles %}

{% block title %}About Us{%endblock title %}

{% block content %}
<section>
  <div
    class="imagePlaceholder imagePlaceholder--overlap imagePlaceholder--yellow"
  >
    [featured image from the blog post]
  </div>
  <div class="col-2-3">
    <div class="h1__preHeading">Blog Post:</div>
    <h1 class="h1__smaller"><a href="{% url 'testPost' %}">The Long History of Power Management in Nigeria</a></h1>
    <p class="introSentence introSentence--border">
      A look inside the history of the power sector, and how things came to be.
    </p>
  </div>
</section>
<section>
  <div class="flexGrid">
    <div class="module module--1-2">
      <a href="#">
        <img src="https://www.abc.net.au/news/image/9339204-3x2-700x467.png" alt="" />
      </a>
      <h3><a href="#">What exactly is delaying the metering process and why?</a></h3>
      <p>December 3, 2018</p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque magnam voluptatum aspernatur enim.
      </p>
    </div>
    <div class="module module--1-2">
      <a href="#">
        <img src="https://www.abc.net.au/news/image/7133352-16x9-700x394.jpg" alt="" />
      </a>
      <h3><a href="#">What's the Future of Power?</a></h3>
      <p>December 1, 2018</p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque magnam voluptatum aspernatur enim.
      </p>
    </div>
    <div class="module module--1-2">
      <a href="#">
        <img src="https://sl.sbs.com.au/public/image/file/a3f73580-d149-4851-837c-bb7fb9c06bf6/crop/16x9" alt="" />
      </a>
      <h3><a href="#">What exactly is delaying the metering process and why?</a></h3>
      <p>December 3, 2018</p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque magnam voluptatum aspernatur enim.
      </p>
    </div>
    <div class="module module--1-2">
      <a href="#">
        <img src="https://www.abc.net.au/news/image/4265380-16x9-700x394.jpg" alt="" />
      </a>
      <h3><a href="#">What exactly is delaying the metering process and why?</a></h3>
      <p>December 3, 2018</p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque magnam voluptatum aspernatur enim.
      </p>
    </div>
  </div>
</section>
{% endblock content %}
