{% extends "base.html" %}
{% load staticfiles %}

{% block title %}System{%endblock title %}

{% block content %}

<section>
  <div
    class="imagePlaceholder imagePlaceholder--overlap imagePlaceholder--yellow"
  >
    [photo here]
  </div>
  <div class="col-2-3">
    <div class="h1__preHeading">Issue:</div>
    <h1>Metering</h1>
    <p class="introSentence introSentence--border">
      There were initially two ways through which customers are billed for
      electricity–postpaid meter billing and estimated billing–in Nigeria.
      Following complaints by citizens, the prepaid meter billing system was
      introduced to the system to aid revenue collection, while also putting an
      end to the post-paid meter reading billing system and to end estimated
      billing, which is believed to have many irregularities. The journey since
      2006 has been one with challenges for both the customer and the operator.
    </p>
  </div>
</section>
       {% include "includes/sectionNav.html" %}

<section id="keyPlayers">
  <div class="flexGrid">
    <div class="col"><div class="imagePlaceholder">[photo here]</div></div>
    <div class="col">
      <h2>Key Players</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dapibus
        posuere lorem maximus tempor. Proin non quam non turpis aliquet dictum
        ut quis sapien. Vestibulum suscipit sodales laoreet. Aliquam molestie a
        urna et tincidunt. Vivamus et auctor ligula, id vulputate nisl. Proin eu
        lectus enim. Aenean id elit in felis ornare volutpat at et metus. Nam
        nec turpis eget diam iaculis condimentum. Fusce a tortor purus. Nullam
        pharetra dui a lacus elementum, eget luctus lacus laoreet. Etiam at
        bibendum nisi. Nulla interdum mattis quam, vitae consequat tellus
        laoreet in. Interdum et malesuada fames ac ante ipsum primis in
        faucibus.
      </p>
    </div>
  </div>
</section>
<section id="policyBackground">
  <div class="flexGrid">
    <div class="col">
      <h2>Policy Background</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dapibus
        posuere lorem maximus tempor. Proin non quam non turpis aliquet dictum
        ut quis sapien. Vestibulum suscipit sodales laoreet. Aliquam molestie a
        urna et tincidunt. Vivamus et auctor ligula, id vulputate nisl. Proin eu
        lectus enim. Aenean id elit in felis ornare volutpat at et metus. Nam
        nec turpis eget diam iaculis condimentum. Fusce a tortor purus. Nullam
        pharetra dui a lacus elementum, eget luctus lacus laoreet. Etiam at
        bibendum nisi. Nulla interdum mattis quam, vitae consequat tellus
        laoreet in. Interdum et malesuada fames ac ante ipsum primis in
        faucibus.
      </p>
    </div>
    <div class="col"><div class="imagePlaceholder">[photo here]</div></div>
  </div>
</section>
<section id="keyQuestions">
  <div class="flexGrid">
    <div class="module module--1-2">
      <span class="h3__preHeading">Key Question:</span>
      <h3>What exactly is delaying the metering process and why?</h3>
      <p>
        The metering process across the country, needless to say, is not moving
        quickly enough to catch up with customer needs. There are salient
        questions that beg answering with regards to the metering process and
        why it appears to be moving at snail's pace with less than 50% of the
        customers being metered between 2017 and 2018.
      </p>
    </div>
    <div class="module module--1-2">
      <span class="h3__preHeading">Key Question:</span>
      <h3>Who has easy access to meters, who doesn’t, and why?</h3>
      <p>
        Smack in the middle of the wrangle between customers and DisCo’s
        concerning estimated billing, meter bypass and what not, there is a
        nagging question none has managed to properly address–is there a
        disparity between urban dwellers and sub-urban dwellers’ access to
        meters as suggested by citizens?
      </p>
    </div>
    <div class="module module--1-2">
      <span class="h3__preHeading">Key Question:</span>
      <h3>
        What is the economic impact of delayed metering members of society?
      </h3>
      <p>
        No economic sector can independently thrive without constant and regular
        access to electricity. Citizens have expressed the need for meters in
        order to cut down on the bloated estimates they deal with when faced
        with having to pay an “estimated bill.” For Small and Medium Enterprises
        however, what is the direct economic impact of not being able to access
        meters and how far do the ripple effects go?
      </p>
    </div>
    <div class="module module--1-2">
      <span class="h3__preHeading">Key Question:</span>
      <h3>
        What intermediary targets should government agencies put in place to
        ensure that they are on track to meeting the 2030 goal?
      </h3>
      <p>
        Looking at the data emanating from the NERC between 2017 and 2018, there
        were 252,493 additional customers metered across the country, within the
        same period, the national outstanding non metered customers rose from
        3,992,280 to 5,223,856 meaning an increase of 1,231,576 non-metered
        customers. The numbers clearly show that there needs to be targeted
        measures put in place to meet up with growing demands, but who is
        thinking about this, what are the regulatory agencies doing to ensure
        the industry does not collapse under the weight of customers needs?
      </p>
    </div>
    <div class="module module--1-2">
      <span class="h3__preHeading">Key Question:</span>
      <h3>
        How has privatization enabled progress towards addressing the metering
        gap or not?
      </h3>
      <p>
        No need to go into unnecessary debates about the what-if’s of
        privatization it is rather beholden upon the Nigerian government to take
        stock of the privatization journey so far. What were the initial
        objectives, how much has been invested, what are the current benefits or
        otherwise and how does the Nigerian state take these learnings and
        convert them to actionable steps for future decisions with regards to
        the power sector and the 2030 goals?
      </p>
    </div>
    <div class="module module--1-2">
      <span class="h3__preHeading">Key Question:</span>
      <h3>
        Who are the key enablers of the metering process/system and who needs to
        be held to account?
      </h3>
      <p>
        The question speaks for itself, if a fully metered customer base is
        beneficial to all, then there will be obvious efforts at ensuring that
        happens, however, if in business terms a 100% metered system would be
        counter intuitive, then there will be obvious blockers. With about $500
        million earmarked by the PSRP for metering initiatives, the question of
        enablers is ever pertinent to ensure to guarantee the survival of sector
      </p>
    </div>
  </div>
</section>
<section id="resources">
  <h2>Resources</h2>
  <div class="flexGrid">
    <div class="col">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque magnam
        voluptatum aspernatur enim. Quos asperiores molestiae necessitatibus
        deleniti, suscipit debitis animi quis exercitationem. Vero sed est
        exercitationem. Fugit, ipsum molestias!
      </p>
    </div>
    <div class="col">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque magnam
        voluptatum aspernatur enim. Quos asperiores molestiae necessitatibus
        deleniti, suscipit debitis animi quis exercitationem. Vero sed est
        exercitationem. Fugit, ipsum molestias!
      </p>
    </div>
    <div class="col">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque magnam
        voluptatum aspernatur enim. Quos asperiores molestiae necessitatibus
        deleniti, suscipit debitis animi quis exercitationem. Vero sed est
        exercitationem. Fugit, ipsum molestias!
      </p>
    </div>
  </div>
</section>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{% static 'js/dist/issue.js' %}"></script>
{% endblock content %}
