{% extends "base.html" %}
{% load staticfiles %}

{% block title %}About Us{%endblock title %}

{% block content %}
<section>
  <article class="col-2-3 centered">
    <div class="h1__preHeading">Blog Post:</div>
    <h1 class="h1__smaller">The Long History of Power Management in Nigeria</h1>
    <figure>
      <img src="https://www.abc.net.au/news/image/9339204-3x2-700x467.png" alt="tag" />
      <figcaption>Caption goes here</figcaption>
    </figure>
    <p><time>December 3, 2018</time></p>
    <p>By First Last</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur augue eros, tempor id eros non, blandit iaculis ex. Nunc sed nisi leo. Suspendisse porttitor est magna, sed vestibulum lectus congue in. Nam ac tempus nulla, nec vestibulum est. Nam cursus erat ipsum. Nam vulputate, mauris non vulputate pharetra, diam sem interdum est, varius semper nibh massa nec nisi. Phasellus nec gravida urna, finibus posuere leo. Ut elementum diam sit amet velit elementum pulvinar. Nam accumsan cursus varius. Nullam feugiat, nulla nec pretium hendrerit, ex augue interdum leo, a scelerisque odio nibh et purus. Aliquam erat volutpat. Praesent aliquam sapien odio, quis tempor orci blandit vitae.</p>

    <p>Nulla nec orci bibendum, ultricies diam non, vestibulum justo. Quisque dictum cursus luctus. Phasellus vel porta massa, eget tristique nisi. Aenean mollis ligula ut imperdiet sollicitudin. Ut sodales condimentum purus, a tempus nisi malesuada eu. Pellentesque feugiat suscipit tincidunt. Nam sollicitudin tellus dui, nec pellentesque quam consequat nec. Fusce massa nunc, aliquet vel mauris vitae, sollicitudin egestas sem. Donec tristique vel sapien eu vulputate. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer vestibulum nibh a rutrum volutpat. Ut diam nibh, ornare ut orci non, sollicitudin tempor orci. Duis ultrices vulputate odio, nec sagittis nisl molestie nec. Morbi id ipsum dictum, ultricies nisi venenatis, placerat urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus et est sit amet nisi tincidunt pretium in at mauris.</p>

    <p>Nullam semper enim augue, at mattis sem maximus id. Sed suscipit viverra vestibulum. Sed neque odio, elementum semper aliquet sit amet, finibus et mi. Suspendisse commodo mattis ante, at facilisis dui elementum consectetur. Duis lobortis nulla a tempus placerat. Cras sodales egestas mauris ut vehicula. Praesent vestibulum metus quis elit accumsan, nec fermentum libero posuere. Curabitur quis ex quis lacus suscipit sollicitudin ut a sapien. Donec at laoreet ligula. In sit amet posuere purus, sed auctor elit. Mauris feugiat mattis lobortis. Aliquam vestibulum leo est, sed varius odio molestie dapibus. Nam vitae rhoncus sem. Praesent tincidunt lectus aliquet leo ultricies venenatis. Nullam sodales felis vel orci tempor, sit amet dictum dolor ultricies.</p>

    <p>Suspendisse vel euismod dui. Mauris lacinia molestie tortor non dictum. In quis vehicula orci, in fringilla massa. Phasellus sit amet turpis euismod, dignissim nulla porttitor, ornare nunc. Ut sagittis pretium rhoncus. In egestas, lacus at dignissim feugiat, orci est convallis tellus, sed consequat eros purus a arcu. Nulla facilisis odio in lorem convallis, quis faucibus velit rutrum. Sed aliquam pulvinar tellus, at interdum arcu mollis nec. Integer tincidunt non dolor ullamcorper convallis. Vestibulum ac placerat mauris. Phasellus purus lacus, scelerisque nec porttitor a, ultrices eget justo. Curabitur libero turpis, mollis eget ultricies nec, venenatis eget leo. Vivamus luctus nec neque eget ultrices. Morbi mattis augue vitae massa maximus lacinia.</p>

    <p>Proin rutrum ligula tristique elit porta volutpat. Mauris sed suscipit neque. In egestas neque eget leo interdum, quis ullamcorper enim egestas. Donec rhoncus sapien velit, ultricies volutpat ligula semper at. Nunc mattis fringilla tincidunt. Aliquam sed tempor enim, nec iaculis nisl. Curabitur sit amet magna elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </article>
</section>
<section>
  <h2>More Posts</h2>
  <div class="flexGrid">
    <div class="module module--1-3">
      <a href="#">
        <img src="https://www.abc.net.au/news/image/7133352-16x9-700x394.jpg" alt="" />
      </a>
      <h3><a href="#">What exactly is delaying the metering process and why?</a></h3>
      <p>December 3, 2018</p>
    </div>
    <div class="module module--1-3">
      <a href="#">
        <img src="https://sl.sbs.com.au/public/image/file/a3f73580-d149-4851-837c-bb7fb9c06bf6/crop/16x9" alt="" />
      </a>
      <h3><a href="#">What exactly is delaying the metering process and why?</a></h3>
      <p>December 3, 2018</p>
    </div>
    <div class="module module--1-3">
      <a href="#">
        <img src="https://www.abc.net.au/news/image/4265380-16x9-700x394.jpg" alt="" />
      </a>
      <h3><a href="#">What exactly is delaying the metering process and why?</a></h3>
      <p>December 3, 2018</p>
    </div>
  </div>
</section>
{% endblock content %}
