[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "==2.1.5"
wagtail = "==2.3"
fabric = "*"
ipython = "*"
xlsxwriter = "*"
django-tinymce = "*"
django-post-office = "*"
django-mailgun = "*"


[dev-packages]
