
.lessonList {
  max-width: 800px;
  margin: 0 auto;
}
.lessonList__row {
  display: flex;
  padding: 1rem;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: Roboto;
  border-bottom: 1px solid $white;

  @include mobile {
    flex-direction: column;
  }
}

.lessonList__row--locked {
  opacity: .5;
}

.lessonList__row--completed {
  opacity: .1;
}

.lessonList__row__placement {
  font-size: 134px;
  font-weight: bold;
  text-align: center;
  letter-spacing: -0.1rem;
  padding: 1rem;
}
.lessonList__row__content {
  justify-content: center;
  flex-direction: column;
  vertical-align: middle;
  display: flex;
  padding: 0.2rem;

  .title {
    font-size: 34px;
    line-height: normal;
    font-weight: bold;
    a {
      color: $white;
      text-decoration: none;
    }
  }
  .body {
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
  }
}
.status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .fa-check {
    color: $yellow;
  }
}

.button {
  background-color: $yellow;
  display: inline-block;
  margin-top: 1.5rem;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  font-family: Roboto;
  font-weight: bold;
  color: $black;
  font-size: 18px;
}

.button--secondary.button--secondary { // doubled-up for specificity hack
  background: none;
  border: 1px solid $white;
  color: $white;
  opacity: .7;
}

.button__details {
  display: block;
  font-size: 14px;
  margin-top: .5rem;
}

.userDashboard {
  border-top: 1px solid $white;
  margin-top: 1rem;
  padding-top: 1rem;
}

.userDashboard__welcome {
  font-size: 24px;
}

.meter {
	height: 20px;  /* Can be anything */
	position: relative;
	background: #555;
	border-radius: 25px;
  margin-top: 2rem;
  margin-bottom: .5rem;
	padding: 10px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: $yellow;
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
