{% load wagtailcore_tags %}

{% for question in question_sessions %}
<form class="exam__questionWrap">
  <div class="h1__preHeading">
    {{ question.title }}
  </div>
  <div class="exam__questionWrap__question">
    {{ question.question | richtext }}
  </div>
  <fieldset class="exam__questionWrap__options">
    {% for answer in question.mcq_answers.all %}
    <label class="exam__questionWrap__options__option">
      <input type="radio" name="{{ question.title }}" value="{{ answer.answer }}">
      {{ answer.answer }}
    </label>
    {% endfor %}
  </fieldset>
</form>
{% endfor %}
