{% load wagtailcore_tags %}
{% load staticfiles %}

{% for question in question_sessions %}
<div class="exam__questionWrap" id="app">
    <vue-snotify></vue-snotify>
  <div class="notification notification-success" v-if="isCorrect">
    [message]
  </div>
  <div class="notification notification-failure" v-if="!isCorrect && isCorrect !== null" v-text="message"></div>
  <div class="h1__preHeading">
    [qtn.title]
  </div>
  <div class="exam__questionWrap__question">
    <div v-html="qtn.text"></div>
  </div>
  <fieldset class="exam__questionWrap__options">
    <label v-for="answer in answers" class="exam__questionWrap__options__option">
      <input type="radio" :value="answer.id" name="qtn.id" v-model="selected">
      <span v-text="answer.text"></span>
    </label>
    <div v-if="!completed">
      <button v-if="selected === null" class="button" disabled>Pick an Answer</button>
      <button v-if="selected && !isChecking" class="button" @click.preventDefault="pickAnswer()">Final Answer</button>
      <button v-if="selected && isChecking" class="button" disabled>Hang on...</button>
    </div>
    <button v-if="completed" class="button" @click="getQuestion()">Next</button>
  </fieldset>
</div>
{% endfor %}


{% block css %}
    <link href="{% static 'vendor/snotify/css/material.css' %}" rel="stylesheet" />
{% endblock css %}

{% block js %}
<script src="{% static 'js/vue.js' %}"></script>
<script src="{% static 'js/vue-snotify.js' %}"></script>
<script src="https://unpkg.com/vue-resource@1.3.1/dist/vue-resource.min.js"></script>
<script>

  var vm = new Vue({
      el: '#app',
      delimiters: ["[","]"],
      data: {
        questionId: {{question_id}},
        qtn: null,
        answers: [],
        selected: null,
        isChecking: false,
        isCorrect: null,
        completed: false,
      },
      mounted() {
        console.log('vue ready');
        console.log('question is ');
        this.getQuestion();
      },
      methods: {
        getQuestion: function() {
          const url = "/training/question/";
          this.$http.get(url).then(response => {
            console.log(response);
            this.qtn = response.body.question;
            this.answers = response.body.answers;
            this.completed = false;
            this.isCorrect = null;
            this.isChecking = false;
            this.selected = null;
          })
        },
        pickAnswer: function() {
          console.log(this.selected);
          this.isChecking = true;
          const url = `/training/select_answer/${this.selected}/`;
          console.log(url);
          this.$http.get(url).then(response => {
            console.log(response);
            this.isChecking = false;
            this.isCorrect = response.body.correct;
            this.completed = true;
          })
        }
      },
      computed: {
        message: function() {
          if (this.isCorrect === true) {
            return "Your answer is Correct";
          } else if (this.isCorrect === false) {
            return "Your answer is Wrong";
          } else {
            return "";
          }
        }
      }
    })

  
</script>
{% endblock js %}