{% load wagtailcore_tags %}
{% load staticfiles %}

{% for question in question_sessions %}
  <h3>{{question.title}}</h3>
  <p>{{question_id}}</p>
  {{question.question|richtext}}
  <div>
    {% for answer in question.mcq_answers.all %}
      <h4 class="answer">
        {{ forloop.counter }} <a href="{% url 'select_answer' id=answer.pk %}">{{ answer.answer}}</a>
      </h4>
    {% endfor %}
  </div>
{% endfor %}

{% block js %}
<script src="{% static 'js/vue.min.js' %}"></script>
<script src="https://unpkg.com/vue-resource@1.3.1/dist/vue-resource.min.js"></script>
<script>
  var vm = new Vue({
    el: '#app',
    delimiters: ["[","]"],
    data: {
      questionId: {{question_id}}
    },
    mounted() {
      console.log('vue ready');
      console.log('question is ');
      console.log(this.questionId)
    }
  })
</script>
{% endblock js %}