{% load wagtailcore_tags %}
{% load staticfiles %}

{% comment %} {% for session in module_sessions %}
    <h3>{{session.title}}</h3>
    {{session.body|richtext}}
{% endfor %} {% endcomment %}

{% block css %}
<style>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
{% endblock css %}

<div id="app">
<div id="top"></div><!-- So we scroll up to -->
<!--div v-for="(session, index) in sessions">
    <transition name="fade" mode="out-in">
        <h3 v-if="sessionIndex === index" v-text="session.title" key="1"></h3>
        <span v-else key="2"></span>
    </transition>
    <transition name="fade" mode="out-in">
        <div v-show="sessionIndex === index" v-html="currentSession.text"></div>
        <span v-else key="2"></span>
    </transition>
</div-->

<transition name="fade" mode="out-in">
    <h3 v-show="show" v-text="currentSession.title"></h3>
</transition>
<transition name="fade" mode="out-in">
<div v-show="show" v-html="currentSession.text"></div>
</transition>

<nav class="sessionNav" v-bind:class="loadingClass">
    <div class="sessionNav__controls">
        <div v-if="hasPrev" class="sessionNav__controls__button sessionNav__controls__button--previous">
            <a @click.preventDefault="movePrev()">Previous</a>
        </div>
        <div v-else class="sessionNav__controls__button sessionNav__controls__button--previous">
        <!-- <a href="#">Start</a> -->
        </div>

        <div class="sessionNav__controls__status">
            <span v-text="sessionIndex + 1"></span>/<span v-text="sessions.length"></span>
        </div>

        <div v-if="hasNext" class="sessionNav__controls__button sessionNav__controls__button--next">
            <a @click.preventDefault="moveNext()">Next</a>
        </div>
        <div v-else class="sessionNav__controls__button sessionNav__controls__button--next">
            <a v-if="!isLoading" @click="nextLesson()">Next Lesson</a>
            <a v-else="isLoading">Hang on...</a>
        </div>
    </div>
</nav>
</div>

{% block js %}
<script src="{% static 'js/vue.min.js' %}"></script>
<script src="{% static 'js/vue-scrollto.js' %}"></script>
<script src="https://unpkg.com/vue-resource@1.3.1/dist/vue-resource.min.js"></script>
<script>
var vm = new Vue({
  el: "#app",
  delimiters: ["[", "]"],
  data: {
    //currentSession: {title: '', text: ''},
    pageId: {{page.id}},
    sessions: [],
    sessionIndex: -1,
    isLoading: false,
    show: false
  },
  mounted() {
    console.log("vue mounted");
    console.log(this.pageId);
    this.getSessions();
  },
  methods: {
      getSessions(){
          this.show = false;
          console.log('get sessions')
          this.isLoading = true
          const url = `/training/sessions/${this.pageId}/`;
          console.log(url);
          this.$http.get(url).then(response => {
              console.log(response);
              this.sessions = response.body.sessions;
              this.sessionIndex = 0
              this.currentSession = this.sessions[0];
              console.log('got sessions')
              this.isLoading = false;
              this.show = true;
          })
      },
      moveNext() {
          if(this.sessionIndex < this.sessions.length - 1){
              this.show = false;
              //console.log(this.loadingClass)
              //this.sessionIndex += 1;
              //this.isLoading = false;
              //this.show = true;
              setTimeout(() => {this.show = true, this.sessionIndex+=1; this.scrollTop()}, 500)
              //window.scrollTo(0, 0);
              //this.scrollTop();
              //console.log(this.loadingClass)
          }
      },
      movePrev() {
          this.show = false;
          if (this.sessionIndex > 0) {
              setTimeout(() => {this.show = true, this.sessionIndex-=1; this.scrollTop()}, 500)
          }
      },
      nextLesson() {
          console.log('next lesson');
          const url = `/training/complete/${this.pageId}/?async=1`;
          console.log(url);
          this.$http.get(url).then(response => {
              console.log(response.body);
              window.location = response.body.redirect_url;
          })
      },
      scrollTop() {
          this.$scrollTo('#app');
      }
  },
  computed: {
      currentSession: function() {
          if (this.sessionIndex === -1) {
              return {title: 'Session Title', text: 'There does not seem to be any session content'};
          }else {
              return this.sessions[this.sessionIndex];
          }
      },
      hasPrev: function() {
          return this.sessionIndex > 0;
      },
      hasNext: function() {
          return this.sessionIndex < this.sessions.length - 1;
      },
      loadingClass: function() {
        return {'sessionNav--loading': this.isLoading};
      }
  }
});
</script>
{% endblock js %}