{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load staticfiles %}

{% block extrahead %}
    {{ form.media }}
{% endblock extrahead %}

{% block content %}
<section>
    <div class="col-2-3">
    <h1>Assignment</h1>
    <h3>Question: {{assignment.title}}</h3>
    <p class="introSentence introSentence--border">
        {{ assignment.question|richtext }}
    </p>
    </div>
</section>
<section>
    <div class="exam col-2-3">
        <h3>Answer</h3>
        {% if answer.submitted %}
        <p class="introSentence introSentence--border">
            {{ answer.answer|richtext }}
        </p>
        {% else %}
        <form class="form" action="." method="post">{% csrf_token %}
            <label>Please Enter your answer below</label>
            {{ form.answer }}
            <div class="col-2-3">
            <div class="flexGrid">
            <div class="col">
            <input type="submit" name="save" value="Save and Continue" />
            </div>
            <div class="col">
            <input type="submit" name="submit" value="Save and Submit" />
            </div>
            </div>
            </div>
        </form>
        {% endif %}
    </div>
</section>
{% endblock content %}
