{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load pagination_tags %}

{% block content %}

<section>
    <div class="col-2-3">
    <h1>{{page.title}}</h1>
    <h4>Duration: {{page.duration}} hr{{page.duration|pluralize}}</h4>
    <h3>Outline</h3>
    <p>
        {{ page.outline }}
    </p>
    </div>

    {% if module_sessions %}
      {% include "training/_session.html" %}
      {% comment %} {% show_pagination module_sessions page.id %} {% endcomment %}
    {% endif %}

    {% if question_sessions %}
       {% include "training/_qa.html" %}
       {% comment %} {% show_pagination question_sessions page.id %} {% endcomment %}
    {% endif %}
</section>

{% endblock content %}
