{% extends "base.html" %}
{% load staticfiles %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% block css %}
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
{% endblock css %}

{% load staticfiles %}

{% block title %}Powerkit Learning{% endblock title %}

{% block content %}
<div class="learning-index-section">
  <section>
    <h2>{{page.title}}</h2>
    <div class="flexGrid">
        <div class="col">
            {{page.description|richtext}}
        </div>
        <div class="col">
          <div class="flexGrid">
              <div class="col">
                  <p>
                    <span class="label">
                      Class Instructor:
                    </span>
                  <br />
                  <strong>{{page.instructor}}</strong></p>
              </div>
              <div class="col">
                  <p>
                    <span class="label">
                      Course Duration:
                    </span>
                  <br />
                  <strong>{{duration}} hours</strong></p>
              </div>
          </div>
          <div class="flexGrid">
              <div class="col">
                  <p>
                    <span class="label">
                      Audience:
                    </span>
                    <br />
                    <strong>{{page.audience}}</strong>
                  </p>
              </div>
          </div>

          {% if user.is_authenticated %}
          <div class="userDashboard">
            <div class="userDashboard__welcome">
              Welcome {{ user.first_name }}!
            </div>
          </div>

          <div class="flexGrid">
              <div class="col">
                {% if training and training.completed %}
                  <a class="button">
                    Completed!
                  </a>
                {% elif current_schedule %}
                  <a href="{% url 'continue_training' %}" class="button">
                    Continue training
                  </a>
                {% else %}
                  <a href="{% url 'start_training' %}" class="button">
                    Start training
                  </a>
                {% endif %}
              </div>
              <div class="col">
                  <a href="{% url 'logout' %}" class="button button--secondary"><i class="key"> Log out</i></a>
              </div>
          </div>
          <div class="meter">
             <span style="width: {{training.percent_completion}}%"></span>
          </div>
            {% if training.percent_completion %}
                {{ training.percent_completion|floatformat:"2" }}% Complete
            {% else %}
                0% Complete
            {% endif %}
          {% else %}
          <div class="flexGrid">
              <div class="col">
                  <a href="{% url 'login' %}" class="button">Login to start training</a>
              </div>
          </div>
          {% endif %}
        </div>
    </div>
  </section>
  <section>
    <div class="lessonList">
      <div class="lessonList__featured">
        <div class="lessonList__row">
            <div class="lessonList__row__placement">4</div>
            <div class="lessonList__row__content">
              <div class="preHeading">Next lesson:</div>
              <div class="title"><a href="#">Title of the lesson you're starting</a></div>
              <div class="body">Description of the lesson you're about to begin. Longer description goes here.</div>
            </div>
        </div>
      </div>
    {% comment %}
      <div class="lessonList__row lessonList__row--completed">
          <div class="lessonList__row__placement">0</div>
          <div class="lessonList__row__content">
              <div class="title"><a href="#">Testing completed lesson</a></div>
              <div class="body">Description of the lesson you've already completed. Longer description goes here.</div>
          </div>
          <div class="status">
              <i class="fa fa-check fa-3x text-danger"></i>
              Completed
          </div>
      </div>
      {% endcomment %}
      {% if schedules %}
          {% for schedule in schedules %}
              <div class="lessonList__row
                  {% if schedule.completed %}lessonList__row--completed{% endif %}
                  {% if schedule.pending %}lessonList__row--locked{% endif %}
              ">
                  <div class="lessonList__row__placement">{{schedule.learning_page.placement}}</div>
                  <div class="lessonList__row__content">
                      <div class="title"><a href="{% pageurl schedule.learning_page %}">{{schedule.learning_page.title}}</a></div>
                      <div class="body">{{schedule.learning_page.outline}}</div>
                  </div>
                  <div class="status">
                      {% if schedule.completed %}
                          <i class="fa fa-check fa-3x text-danger"></i>
                          Completed
                      {% endif %}
                      {% if schedule.current %}
                          <i class="fa fa-hourglass fa-2x text-success"></i>
                          Ongoing
                      {% endif %}
                      {% if schedule.pending %}
                          <i class="fa fa-lock fa-2x text-success"></i>
                          Pending
                      {% endif %}
                  </div>
              </div>
          {% endfor %}
      {% else %}
          {% for module in modules %}
              {% if module.pk == first_module.pk and user.is_authenticated %}
                  <div class="lessonList__row">
                      <div class="lessonList__row__placement">{{module.specific.placement}}</div>
                      <div class="lessonList__row__content">
                          <div class="title">
                              <a href="{% url 'start_training' %}">{{module.title}}</a>
                          </div>
                          <div class="body">{{module.specific.outline}}</div>
                      </div>
                      <div class="status">
                          <i class="fa fa-hourglass-start fa-2x text-success"></i>
                          Start
                      </div>
                  </div>
              {% else %}
                  <div class="lessonList__row lessonList__row--locked">
                      <div class="lessonList__row__placement">{{module.specific.placement}}</div>
                      <div class="lessonList__row__content">
                          <div class="title">
                              {{ module.title}}
                          </div>
                          <div class="body">{{module.specific.outline}}</div>
                      </div>
                      <div class="status">
                          <i class="fa fa-lock fa-2x text-success"></i>
                          Pending
                      </div>
                  </div>
              {% endif %}
          {% endfor %}
      {% endif %}
      {% comment %}
      <div class="lessonList__row lessonList__row--locked">
          <div class="lessonList__row__placement">0</div>
          <div class="lessonList__row__content">
              <div class="title"><a href="#">Testing locked lesson</a></div>
              <div class="body">Description of the lesson you won't have access to because you haven't completed prior lessons.</div>
          </div>
          <div class="status">
              <i class="fa fa-check fa-3x text-danger"></i>
              Completed
          </div>
      </div>
      {% endcomment %}
    </div>
  </section>
</div>

{% endblock content %}
