{% extends "base.html" %}
{% load staticfiles %}
{% load wagtailcore_tags %}

{% load staticfiles %}

{% block title %}Powerkit Learning{% endblock title %}

{% block content %}

 <section>
    <div class="featuredImage">
        {% image page.featured_image original %}
    </div>
    <div class="col-2-3">
    <h1>{{page.title}}</h1>
    <p class="introSentence introSentence--border">
        {{ page.intro }}
    </p>
    </div>
</section>
<section>
  <div>
        <ol>
    {% for module in modules %}
        <li><p><a href="{% pageurl module %}">{{module.title}}</a></p>
        <p>{{module.outline}}</p></li>
    {% endfor %}
        </ol>
  </div>
</section>

{% endblock content %}