{% extends "base.html" %}
{% load staticfiles %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block title %}Welcome{% endblock title %}

{% block content %}
<section class="photoGrid">
  <h1 class="introSentence">
    {{ page.intro }}
  </h1>
  <div class="photoGrid__row">
    <!-- {% image page.top_image width-1600 as tmp_photo %} -->
    <div class="photoGrid__content photoGrid__content--feature featuredImage--yellow" style="background-image: url('{{ tmp_photo.url }}')">
      <video src="{% static 'img/video.mp4' %}" autoplay loop muted playsinline></video>
      <a href="/metering/">
        <div class="photoGrid__content__textWrap">
          <div class="preHeading">
            Featured Issue:
          </div>
          <h1>Metering</h1>
        </div>
      </a>
    </div>
  </div>
  <div class="photoGrid__row photoGrid__row--shared">
    {% image page.left_image width-500 as tmp_photo %}
    <div class="photoGrid__content" style="background-image: url('{{ tmp_photo.url }}')">
      <a href="#">
        <h3>Content 1</h3>
      </a>
    </div>
    {% image page.center_image width-500 as tmp_photo %}
    <div class="photoGrid__content" style="background-image: url('{{ tmp_photo.url }}')">
      <a href="#">
        <h3>Content 2</h3>
      </a>
    </div>
    {% image page.right_image width-500 as tmp_photo %}
    <div class="photoGrid__content" style="background-image: url('{{ tmp_photo.url }}')">
      <a href="#">
        <h3>Content 3</h3>
      </a>
    </div>
  </div>
</section>
{% endblock content %}
