{% extends "base.html" %}
{% load staticfiles %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block title %}Welcome{% endblock title %}

{% block content %}
<section class="photoGrid">
  <h1 class="introSentence">
    {{ page.intro }}
  </h1>
  <div class="photoGrid__row">
    <!-- {% image page.top_image width-1600 as tmp_photo %} -->
    <div class="photoGrid__content photoGrid__content--feature featuredImage--yellow">
      <video src="{% static 'img/video.mp4' %}" autoplay loop muted playsinline></video>
      <a href="{% pageurl page.top_link %}">
        <div class="photoGrid__content__textWrap">
          <div class="preHeading">
            Featured Issue:
          </div>
          <h1>{{page.top_link.title}}</h1>
        </div>
      </a>
    </div>
  </div>
  <div class="photoGrid__row photoGrid__row--shared">
    {% image page.left_image width-500 as tmp_photo %}
    <div class="photoGrid__content" style="background-image: url('{{ tmp_photo.url }}')">
      <a href="{% pageurl page.left_link %}">
        <h3>{{page.left_link.title}}</h3>
      </a>
    </div>
    {% image page.center_image width-500 as tmp_photo %}
    <div class="photoGrid__content" style="background-image: url('{{ tmp_photo.url }}')">
      <a href="{% pageurl page.center_link %}">
        <h3>{{page.center_link.title}}</h3>
      </a>
    </div>
    {% image page.right_image width-500 as tmp_photo %}
    <div class="photoGrid__content" style="background-image: url('{{ tmp_photo.url }}')">
      <a href="{% pageurl page.right_link %}">
        <h3>{{page.right_link.title}}</h3>
      </a>
    </div>
  </div>
</section>
{% endblock content %}
