{% load staticfiles %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Sample Template</title>

    <!-- Custom styles for this template -->
    <link href="https://fonts.google.com/selection?selection.family=Roboto:400,400i,700,700i" rel="stylesheet" />
    <link href="{% static 'css/creative.css' %}" rel="stylesheet" />
  </head>

  <body id="page-top">
    {% include "includes/header.html" %}
    <main>
      <div class="wrapper">
        <section class="photoGrid">
          <h1 class="introSentence">
            {{ page.intro }}
          </h1>
          <div class="photoGrid__row">
            {% image page.top_image width-1600 as tmp_photo %}
            <div class="photoGrid__content photoGrid__content--feature" style="background-image: url('{{ tmp_photo.url }}')">
              <a href="/metering/">
                <div class="photoGrid__content__textWrap">
                  <div class="preHeading">
                    Featured Issue:
                  </div>
                  <h1>Metering</h1>
                </div>
              </a>
            </div>
          </div>
          <div class="photoGrid__row photoGrid__row--shared">
            {% image page.left_image width-500 as tmp_photo %}
            <div class="photoGrid__content" style="background-image: url('{{ tmp_photo.url }}')">
              <a href="#">
                <h3>Content 1</h3>
              </a>
            </div>
            {% image page.center_image width-500 as tmp_photo %}
            <div class="photoGrid__content" style="background-image: url('{{ tmp_photo.url }}')">
              <a href="#">
                <h3>Content 2</h3>
              </a>
            </div>
            {% image page.right_image width-500 as tmp_photo %}
            <div class="photoGrid__content" style="background-image: url('{{ tmp_photo.url }}')">
              <a href="#">
                <h3>Content 3</h3>
              </a>
            </div>
          </div>
        </section>

      </div>
    </main>
   {% include "includes/footer.html" %}
   <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
   <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
