{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Contact Us{%endblock title %}

{% block content %}
<section id="contact-section">
  <div class="col-2-3 overlap">
    <h1>{{ page.title }}</h1>
    <p class="introSentence introSentence--border">
     {{ page.intro }}
    </p>
    <ul class="contact-us">
      <li>Email: {{page.email}}</li>
      <li>Phone: {{page.phone}}</li>
      <li>Address: {{page.address}}</li>
    </ul>
  </div>
</section>
<section>
  <h2>Or send us a message!</h2>
  <div class="col"><div class="imagePlaceholder">[Contact form here]</div></div>
</section>
{% endblock content %}
