{% extends "base.html" %}
{% load staticfiles %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block title %}Blog Post{%endblock title %}

{% block content %}
<section>
  <article class="col-2-3 centered">
    <div class="h1__preHeading">Blog Post:</div>
    <h1 class="h1__smaller">{{page.title}}</h1>
    <figure>
      {% image page.feed_image max-700x467 %}
      <figcaption>Caption</figcaption>
    </figure>
    <p><time>{{page.date|date}}</time></p>
    <p><strong>Author: {{page.author.get_full_name}}</strong></p>
    {{ page.body|richtext }}
  </article>
</section>
<section>
  <h2>More Posts</h2>
  <div class="flexGrid">
    <div class="module module--1-3">
      <a href="#">
        <img src="https://www.abc.net.au/news/image/7133352-16x9-700x394.jpg" alt="" />
      </a>
      <h3><a href="#">What exactly is delaying the metering process and why?</a></h3>
      <p>December 3, 2018</p>
    </div>
    <div class="module module--1-3">
      <a href="#">
        <img src="https://sl.sbs.com.au/public/image/file/a3f73580-d149-4851-837c-bb7fb9c06bf6/crop/16x9" alt="" />
      </a>
      <h3><a href="#">What exactly is delaying the metering process and why?</a></h3>
      <p>December 3, 2018</p>
    </div>
    <div class="module module--1-3">
      <a href="#">
        <img src="https://www.abc.net.au/news/image/4265380-16x9-700x394.jpg" alt="" />
      </a>
      <h3><a href="#">What exactly is delaying the metering process and why?</a></h3>
      <p>December 3, 2018</p>
    </div>
  </div>
</section>
{% endblock content %}
