{% extends "base.html" %}
{% load staticfiles %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block title %}Blog{%endblock title %}

{% block content %}
<section>
  {% if featured %}
  <div class="featuredImage">
    {% image featured.feed_image original %}
  </div>
  <div class="col-2-3">
    <div class="h1__preHeading">Blog Post:</div>
    <h1 class="h1__smaller"><a href="{% pageurl featured %}">{{featured.title}}</a></h1>
    <p class="introSentence introSentence--border">
      {{featured.intro}}
    </p>
  </div>
  {% endif %}
</section>
<section>
  <div class="flexGrid">
    {% for entry in blog_entries %}
      <div class="module module--1-2">
        <a href="{% pageurl entry %}">
          {% image entry.feed_image original %}
        </a>
        <h3><a href="{% pageurl entry %}">{{entry.title}}</a></h3>
        <p>{{entry.date|date}}
        <p>
          {{entry.intro}}
        </p>
      </div>
    {% endfor %}
  </div>

  <div class="pagination">
    <span class="step-links">
        {% if blog_entries.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ blog_entries.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ blog_entries.number }} of {{ blog_entries.paginator.num_pages }}.
        </span>

        {% if blog_entries.has_next %}
            <a href="?page={{ blog_entries.next_page_number }}">next</a>
            <a href="?page={{ blog_entries.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</section>
{% endblock content %}
