<footer>
  <div class="wrapper">
    <div class="footerDescription">
      <p>
        The [name of this thing] is supported by [supporters], and intended to
        serve as a resource for journalists in Nigeria to investigate the power
        sector. For more information, or to contact [someone] reach out at
        [somewhere].
      </p>
    </div>
    <div class="footerNav">
      <div class="footerNav__column">
        <a class="footerNav__item" href="#">The System</a>
        <a class="footerNav__item" href="#">The Stats</a>
        <a class="footerNav__item" href="#">About</a>
        <a class="footerNav__item" href="#">Blog</a>
        <a class="footerNav__item" href="#">Contact</a>
      </div>
      <div class="footerNav__column">
        <a class="footerNav__item" href="#">The Issues</a>
        <a class="footerNav__item" href="#">Metering</a>
        <a class="footerNav__item" href="#">Issue #2</a>
        <a class="footerNav__item" href="#">Issue #3</a>
        <a class="footerNav__item" href="#">Issue #4</a>
      </div>
    </div>
  </div>
</footer>
